@charset "UTF-8";
.text-align {
  text-align: center;
  background: #fff;
  width: 200px;
  padding: 20px 0;
}

.purple {
  background: #a4b3e9;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
}

.margin {
  background: #fff;
  width: 200px;
  padding: 20px 0;
}

.blue {
  text-align: center;
  margin: 0 auto;
  background: #a4b3e9;
  font-size: 16px;
  width: 90px;
  padding: 10px;
}

.table {
  text-align: center;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}

.white {
  padding: 10px;
  background: #fff;
  display: inline-block;
}

.flex {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  padding: 10px;
  background: #fff;
}

.container {
  position: relative;
}

.dark-blue {
  position: absolute;
  background: #a4b3e9;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
